/*********** 
Page Header
***********/

.page-header.navbar {
    background-color: #2b3643;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #79869a;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #1caf9a;
    color: #ffffff;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
    background-color: #3f4f62;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover>i {
    color: #a4aebb;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: #3f4f62;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle>i {
    color: #a4aebb;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username {
    color: #c6cfda;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
    color: #c6cfda;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-menu {
    width: 195px;
}

.page-header.navbar .menu-toggler {
    background-image: url(../../HTML_Test001/photo/sidebar_toggler_icon_darkblue.png);
}


/* Page sidebar */

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
    background-color: #364150;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a,
.page-sidebar .page-sidebar-menu>li>a {
    border-top: 1px solid #3d4957;
    color: #b4bcc8;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i,
.page-sidebar .page-sidebar-menu>li>a>i {
    color: #606C7D;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*="icon-"],
.page-sidebar .page-sidebar-menu>li>a>i[class^="icon-"],
.page-sidebar .page-sidebar-menu>li>a>i[class*="icon-"] {
    color: #6b788b;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu>li>a>.arrow:before,
.page-sidebar .page-sidebar-menu>li>a>.arrow.open:before {
    color: #606C7D;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3,
.page-sidebar .page-sidebar-menu>li.heading>h3 {
    color: #708096;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a,
.page-sidebar .page-sidebar-menu>li:hover>a,
.page-sidebar .page-sidebar-menu>li.open>a {
    background: #2C3542;
    color: #b4bcc8;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i,
.page-sidebar .page-sidebar-menu>li:hover>a>i,
.page-sidebar .page-sidebar-menu>li.open>a>i {
    color: #606C7D;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before,
.page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu>li.open>a>.arrow:before,
.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before {
    color: #606C7D;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,
.page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar .page-sidebar-menu>li.active.open>a {
    background: #1caf9a;
    border-top-color: transparent;
    color: #ffffff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover,
.page-sidebar .page-sidebar-menu>li.active>a:hover,
.page-sidebar .page-sidebar-menu>li.active.open>a:hover {
    background: #1caf9a;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>i,
.page-sidebar .page-sidebar-menu>li.active>a>i,
.page-sidebar .page-sidebar-menu>li.active.open>a>i {
    color: #ffffff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow.open:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu>li.active>a>.arrow:before,
.page-sidebar .page-sidebar-menu>li.active>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu>li.active.open>a>.arrow:before,
.page-sidebar .page-sidebar-menu>li.active.open>a>.arrow.open:before {
    color: #ffffff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active+li>a,
.page-sidebar .page-sidebar-menu>li.active+li>a {
    border-top-color: transparent;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open+li>a,
.page-sidebar .page-sidebar-menu>li.active.open+li>a {
    border-top-color: #3d4957;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:last-child>a,
.page-sidebar .page-sidebar-menu>li:last-child>a {
    border-bottom: 1px solid transparent !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu li>a>.arrow:before,
.page-sidebar .page-sidebar-menu li>a>.arrow.open:before {
    color: #606C7D;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu li:hover>a>.arrow:before,
.page-sidebar .page-sidebar-menu li:hover>a>.arrow.open:before {
    color: #606C7D;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu li.active>a>.arrow:before,
.page-sidebar .page-sidebar-menu li.active>a>.arrow.open:before {
    color: #ffffff;
}

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu,
.page-sidebar-closed .page-sidebar .page-sidebar-menu:hover .sub-menu {
    background-color: #364150;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a,
.page-sidebar .page-sidebar-menu .sub-menu>li>a {
    color: #b4bcc8;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i,
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i {
    color: #606C7D;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class*="icon-"],
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class^="icon-"],
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class*="icon-"] {
    color: #6b788b;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu>li>a>.arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu>li>a>.arrow.open:before {
    color: #606C7D;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a {
    background: #3e4b5c !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>i,
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>i,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>i,
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>i {
    color: #606C7D;
    color: #959fae;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>.arrow.open:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>.arrow.open:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>.arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>.arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>.arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>.arrow.open:before {
    color: #606C7D;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.open>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li:hover>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.open>a {
    background: #3a4656;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a {
    background: #3e4b5c;
    border-left: 4px solid #1caf9a;
    color: #f1f1f1;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover {
    border-left: 4px solid #1caf9a;
    background: #3a4656;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>i,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a>i,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>i {
    color: #eeeeee;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a>.arrow.open:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a>.arrow:before,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>.arrow:before,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>.arrow.open:before {
    color: #eeeeee;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu {
    background: #3a4656;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a {
    background: #3e4b5c !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,
.page-sidebar .sidebar-toggler {
    background: url(../../HTML_Test001/photo/sidebar_inline_toggler_icon_darkblue.jpg);
}


/****
Boby
****/

body {
    background-color: #364150;
}